header{
    background-color: #0066aa;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    border: 7px;
    border-style: solid;
    border-color: red;
    color: white;
}

#cabecalho{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 55px;
}

nav{
    background-color: #0066aa;
    margin-bottom: 10px;
    height: 70px;
    border: 7px;
    border-style: solid;
    border-color: red;
    text-align: center;
    color: white;
}

main{
    margin-bottom: 10px;
    height: 350px;
    border: 7px;
    border-style: solid;
    border-color: black;
    background-color: white;
}

footer{
    background-color: #0066aa;
    margin-bottom: 10px;
    height: 85px;
    border: 7px;
    border-style: solid;
    border-color: red;
    text-align: center;
    color: white;
}

body{
    margin-left: 25%;
    margin-right: 25%;
    background-color:#cdf0ff;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 650px;
}
